
/* Media queries are in order from largest to smallest screen size */


@media screen and (max-width: 1500px) {

    /*~~~~~~~~~~~~~~~~~~~~*/
    /*       <main>       */
    /*~~~~~~~~~~~~~~~~~~~~*/

    section div:nth-child(1) {width: 40%;}
    section div:nth-child(2) {width: 60%;}

    /*~~~~~~~~~~~~~~~~~~~~*/
    /* <section> About Me */
    /*~~~~~~~~~~~~~~~~~~~~*/

    .about-me p {
        font-family: var(--text-normal);
        font-size: 25px;
    }
}


@media screen and (max-width: 1245px) {

    /*~~~~~~~~~~~~~~~~~~~~*/
    /*       <main>       */
    /*~~~~~~~~~~~~~~~~~~~~*/

    section div:nth-child(1) {width: 40%;}
    section div:nth-child(2) {width: 60%;}

    /*~~~~~~~~~~~~~~~~~~~~*/
    /* <section> About Me */
    /*~~~~~~~~~~~~~~~~~~~~*/

    .about-me p {
        font-family: var(--text-normal);
        font-size: 20px;
    }
}


@media screen and (max-width: 1182px) {
    
    /*~~~~~~~~~~~~~~~~~~~~*/
    /*     <header>       */
    /*~~~~~~~~~~~~~~~~~~~~*/

    nav a {
        font-size: 40px;
    }

    nav a:hover {
        font-size: 45px;
    }

    /*~~~~~~~~~~~~~~~~~~~~~~*/
    /* <section> - About Me */
    /*~~~~~~~~~~~~~~~~~~~~~~*/

    .about-me img {
        height: 350px;
        width: 350px;
    }
    
    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /* <section> - Work Portfolio */
    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

    .card-text p {
        font-size: 16px;
    }
}


@media screen and (max-width: 1056px) {
    
    /*~~~~~~~~~~~~~~~~~~~~*/
    /*       <main>       */
    /*~~~~~~~~~~~~~~~~~~~~*/

    section div:nth-child(1) {width: 45%;}
    section div:nth-child(2) {width: 60%;}
    
    /*~~~~~~~~~~~~~~~~~~~~~~*/
    /* <section> - About Me */
    /*~~~~~~~~~~~~~~~~~~~~~~*/

    .about-me p {
        font-family: var(--text-normal);
        font-size: 16px;
    }

    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /* <section> - Work Portfolio */
    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

    #work-portfolio {
        height: 2300px;
    }

    .card {
        height: 350px;
    }

    .card img {
        width: 500px;
    }

    .card-text p {
        font-size: 14px;
    }
}


@media screen and (max-width: 920px) {
    
    /*~~~~~~~~~~~~~~~~~~~~*/
    /*      <header>      */
    /*~~~~~~~~~~~~~~~~~~~~*/

    header {
        display: flex;
        flex-direction: column;
        height: 150px;
    }

    nav {
        width: 100%;
        padding-bottom: 10px;
    }

    /*~~~~~~~~~~~~~~~~~~~~*/
    /*     <section>      */
    /*~~~~~~~~~~~~~~~~~~~~*/

    .portfolio-section {
        display: flex;
        flex-direction: column;
        height: 300px;
    }

    section div:nth-child(1) {width: 100%;}
    section div:nth-child(2) {width: 100%;}

    /*~~~~~~~~~~~~~~~~~~~~~~*/
    /* <section> - About Me */
    /*~~~~~~~~~~~~~~~~~~~~~~*/

    #about-me-section {
        height: 700px;
    }

    .about-me {
        display: flex;
    }

    .about-me img {
        margin-bottom: 20px;
    }

    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /* <section> - Work Portfolio */
    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

    #work-portfolio {
        height: 3200px;
    }

    .card {
        height: 500px;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        padding-top: 10px;
        border-top: 1px solid var(--font-cream);
    }

    /* This flexes EcoValuator and IsItDry? cards to have reverse order
    so that their image comes before their text */
    .column-reverse {
        flex-direction: column-reverse;
    }

    .card img {
        width: 400px;
        height: 300px;
    }

    .card-text {
        width: 50%;
        padding-top: 5px;
    }

    .card-text p {
        width: 95%
    }

    /*~~~~~~~~~~~~~~~~~~~~~*/
    /* <section> - Contact */
    /*~~~~~~~~~~~~~~~~~~~~~*/

    #contact {
        height: 275px;
    }
}

@media screen and (max-width: 695px) {

    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /* <section> - Work Portfolio */
    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

    #work-portfolio {
        height: 3500px;
    }

    .card {
        height: 550px;
    }
}

@media screen and (max-width: 593px) {

    /*~~~~~~~~~~~~~~~~~~~~*/
    /*      <header>      */
    /*~~~~~~~~~~~~~~~~~~~~*/

    header {
        height: 175px;
    }

    header h1 {
        font-size: 45px;
    }

    /*~~~~~~~~~~~~~~~~~~~~~~*/
    /* <section> - About Me */
    /*~~~~~~~~~~~~~~~~~~~~~~*/

    .about-me img {
        height: 250px;
        width: 250px;
        padding-top: 10px;
    }

    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /* <section> - Work Portfolio */
    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

    #work-portfolio {
        height: 3600px;
    }

    .card {
        height: 570px;
    }
}

@media screen and (max-width: 493px) {

    /*~~~~~~~~~~~~~~~~~~~~*/
    /*      <header>      */
    /*~~~~~~~~~~~~~~~~~~~~*/

    nav a {font-size: 35px};

    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /* <section> - Work Portfolio */
    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

    .card {
        height: 600px;
    }

    .card img {
        width: 350px;
        height: 275px;
    }
}

@media screen and (max-width: 414px) {

    /*~~~~~~~~~~~~~~~~~~~~*/
    /*      <header>      */
    /*~~~~~~~~~~~~~~~~~~~~*/

    nav a {
        font-size: 27px;
    }

    /*~~~~~~~~~~~~~~~~~~~~~~*/
    /* <section> - About Me */
    /*~~~~~~~~~~~~~~~~~~~~~~*/

    .about-me img {
        height: 230px;
        width: 230px;
    }

    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /* <section> - Work Portfolio */
    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

    .card-text h3 {
        font-size: 35px;
    }
}

@media screen and (max-width: 375px) {

    /*~~~~~~~~~~~~~~~~~~~~*/
    /*      <header>      */
    /*~~~~~~~~~~~~~~~~~~~~*/

    h1 {
        font-size: 40px;
    }

    nav a {
        font-size: 30px;
    }

    nav a:hover {
        font-size: 35px;
    }

    /*~~~~~~~~~~~~~~~~~~~~~~*/
    /* <section> - About Me */
    /*~~~~~~~~~~~~~~~~~~~~~~*/

    .about-me img {
        height: 215px;
        width: 215px;
    }

    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /* <section> - Work Portfolio */
    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


    .card img {
        width: 280px;
        height: 240px;
    }

    .card-text h3 {
        font-size: 35px;
    }
}

@media screen and (max-width: 350px) {


    /*~~~~~~~~~~~~~~~~~~~~~~*/
    /* <section> - About Me */
    /*~~~~~~~~~~~~~~~~~~~~~~*/

    #about-me-section {
        height: 750px;
    }

    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /* <section> - Work Portfolio */
    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

    #work-portfolio {
        height: 3850px;
    }

    .card {
        margin-bottom: 20px;
        padding-top: 30px;
    }

}